/* home-performance.module.css */
.performanceContainer {
    padding: 0 28px 0 28px;
}

.performanceTitle {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 12px;
}

.performanceTitle_light {
  color: #000;
}

.performanceTitle_dark {
  color: #fff;
}


.performanceGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.performanceItem {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 8px;
}

.performanceItem_light {
  border: 1px solid #CECECE;
  background-color: #F7F6F6;
}

.performanceItem_dark {
  border: 1px solid #424242;
  background-color: #1c1c1c;
}

.performanceContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.performanceLabel {
  font-size: 14px;
  color: #666;
  font-weight: 500;
}

.performanceValueContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.performanceValue {
  font-size: 24px;
  font-weight: bold;
}

.performanceValue_light {
  color: #000;
}

.performanceValue_dark {
  color: #fff;
}

.performanceStatus {
  display: flex;
  align-items: center;
  gap: 0px;
  background-color: #1C6B1E1A;
  padding: 4px;
  border-radius: 12px;
}


/* Responsive Styles */
@media screen and (min-width: 801px) {
  .performanceTitle {
    font-size: 20px;
  }

  .performanceValue {
    font-size: 26px;
  }

  .performanceLabel {
    font-size: 15px;
  }
}

@media screen and (max-width: 800px) {
.performanceContainer {
    padding: 0 24px 0 24px;
}
  .performanceGrid {
    gap: 14px;
  }

  .performanceValue {
    font-size: 22px;
  }

}

@media screen and (max-width: 500px) {
 .performanceContainer {
    padding: 0 16px 0 16px;
 }
  .performanceTitle {
    font-size: 16px;
  }

  .performanceGrid {
    gap: 12px;
  }

  .performanceValue {
    font-size: 20px;
  }

  .performanceLabel {
    font-size: 13px;
  }
}