.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 800px; /* Mobile-first design */
  margin: 0 auto;
  box-sizing: border-box;
}


/* Responsive Styles */
@media screen and (min-width: 801px) {
    .mainContainer {
      max-width: 600px;
      margin: 0 auto;
      padding: 24px;
    }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
   .mainContainer {
      gap: 24px;
    }
}

@media screen and (max-width: 500px) {
  .mainContainer {
      gap: 18px;
  }
}