.experienceContainer {
  box-sizing: border-box;
  width: 100%;
    padding: 24px 0px 0 0px;
}

.experienceTitle {
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  padding: 0px 28px 0 28px;
  margin-bottom: 12px;
}

.experienceTitle_light {
  color: #000;
}

.experienceTitle_dark {
  color: #fff;
}

.experienceDesc {
  font-size: 16px;
  margin: 0px;
  padding: 0px 28px 0 28px;
  margin-bottom: 20px;
}

.experienceDesc_light {
  color: #000;
}

.experienceDesc_dark {
  color: #fff;
}

.gameModeList{
 display: flex;
 gap: 8px;
 padding: 0px 28px 0 28px;
   overflow-x: auto;
   overflow-y: hidden;
   scrollbar-width: none; /* Firefox */
   -ms-overflow-style: none; /* IE and Edge */
}

.gameModeList:-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}


.gameModeItem {
  display: flex;
  padding: 8px 16px;
  border-radius: 8px;
}

.gameModeItem_light {
  border: 1px solid #CECECE;
  background-color: #F7F6F6;
}

.gameModeItem_dark {
  border: 1px solid #424242;
  background-color: #1c1c1c;
}

.selected{
  color: #fff;
  background: linear-gradient(90deg, #015c2a, #067a3c);
  border: none;
}


@media screen and (max-width: 800px) {
  .experienceContainer {
    padding: 8px 0px 0 0px;
  }
    .experienceTitle {
      font-size: 20px;
        margin-bottom: 8px;
            padding: 28px 24px 0 24px;

    }
    .experienceDesc {
      font-size: 18px;
          padding: 0px 24px 0 24px;

    }
    .gameModeList {
          padding: 0px 24px 0 24px;

    }
}

@media screen and (max-width: 500px) {
  .experienceContainer {
    padding: 16px 0px 0 0px;
  }

  .experienceTitle {
    font-size: 16px;
          margin-bottom: 8px;
              padding: 0px 16px 0 16px;

  }
  .experienceDesc {
    font-size: 14px;
    padding: 0px 16px 0 16px;
  }
  .gameModeList {
    padding: 0px 16px 0 16px;
  }
}