html {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: transparent;
  -webkit-overflow-scrolling: touch; /* smooth scroll on iOS */
}

body.light {
  background: #fff;
  color: #121212;
}

body.dark {
  background: #121212;
  color: #fff;
}

/* Navstack page container scrolling */
[data-nav-uid] {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 800px) {

}





