html {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: transparent;
}

html{
  overflow-y: scroll; /* prevent horizontal scroll */
  overscroll-behavior: none; /* prevent bounce effect on iOS */
  -webkit-overflow-scrolling: touch; /* smooth scroll on iOS */
}

body{
  overflow-y: scroll;
}

body.light {
  background: #fff;
  color: #121212;
}

body.dark {
  background: #121212;
  color: #fff;
}

@media screen and (max-width: 800px) {
  html{
    overflow-y: scroll;
  }
}




