.sideDrawer_light{
  background: #ffffff !important;
}

.sideDrawer_dark{
  background: #121212 !important;
}


/* Web Design */
@media screen and (min-width: 801px) {

}

/* Tablet Design */
@media screen and (max-width: 800px) and (min-width: 501px) {

}

/* Mobile Design */
@media screen and (max-width: 500px) {

}